@using ProjectPagedList.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<TBL_MEYVELER>
@{
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="container">
    <h1 style="margin-bottom:15px">MEYVELER TABLOSU</h1>
    <table class="table table-bordered" style="margin-bottom:15px">
        <tr>
            <th>#</th>
            <th>MEYVELER</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.MEYVE</td>
            </tr>
        }
    </table>

    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
</div>
