<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OdevPersoneleGorevAta.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OdevPersoneleGorevAta.Properties.Settings.Connection_NorthWind"
            connectionString="Data Source=.;User ID=sa;password=123;Initial Catalog=Northwind;Pooling=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <OdevPersoneleGorevAta.Properties.Settings>
            <setting name="Command_SelectEmployee" serializeAs="String">
                <value>select e.EmployeeID,e.FirstName, e.LastName, e.Title, e.BirthDate, e.Country,e.HireDate,e.Address, e.Notes, e.HomePhone from Employees e</value>
            </setting>
            <setting name="Command_InsertTask" serializeAs="String">
                <value>insert into Tasks(TaskName,TaskDescription,TaskDateTime) Values(@TaskName,@TaskDescription,@TaskDateTime) Select @@IDENTITY</value>
            </setting>
            <setting name="Command_UpdateTask" serializeAs="String">
                <value>Update Tasks Set TaskName = @TaskName, TaskDescription = @TaskDescription,TaskDateTime=@TaskDateTime Where TaskId=</value>
            </setting>
            <setting name="Command_InsertEmployeeTask" serializeAs="String">
                <value>insert into EmployeeTasks(EmployeeTasks_EmployeeId,EmployeeTasks_TaskId) Values(@EmployeeTasks_EmployeeId,@EmployeeTasks_TaskId)</value>
            </setting>
            <setting name="Command_SelectEmployeeTask" serializeAs="String">
                <value>select t.* from Tasks t where TaskId in (select EmployeeTasks_TaskId from EmployeeTasks where EmployeeTasks_Visible=1 And EmployeeTasks_EmployeeId=

</value>
            </setting>
            <setting name="Command_SelectTask" serializeAs="String">
                <value>select * from Tasks where Tasks_Visible=1

</value>
            </setting>
            <setting name="Command_DeleteTask" serializeAs="String">
                <value>Update EmployeeTasks  Set EmployeeTasks_Visible = 0 Where EmployeeTasks_TaskId=</value>
            </setting>
        </OdevPersoneleGorevAta.Properties.Settings>
    </applicationSettings>
</configuration>